<div class="container">
  <h1 class="center">User Data for <%= user.name %></h1>
  <p style="line-height:50%">
    Name:
      <%= user.name %>
  </p>
  <p style="line-height:50%">Gender:
    <%= user.gender %>
  </p>
</div>
